.elementor-3715 .elementor-element.elementor-element-562da3a {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0
}

.elementor-bc-flex-widget .elementor-3715 .elementor-element.elementor-element-d5e5ae4.elementor-column .elementor-column-wrap {
    align-items: center
}

.elementor-3715 .elementor-element.elementor-element-d5e5ae4.elementor-column.elementor-element[data-element_type=column]>.elementor-column-wrap.elementor-element-populated>.elementor-widget-wrap {
    align-content: center;
    align-items: center
}

.elementor-3715 .elementor-element.elementor-element-d5e5ae4.elementor-column>.elementor-column-wrap>.elementor-widget-wrap {
    justify-content: center
}

.elementor-3715 .elementor-element.elementor-element-d5e5ae4>.elementor-element-populated {
    margin: 0;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px
}

.elementor-3715 .elementor-element.elementor-element-d5e5ae4>.elementor-element-populated>.elementor-widget-wrap {
    padding: 0
}

.elementor-3715 .elementor-element.elementor-element-a0feea4>.elementor-widget-container {
    margin: 0;
    padding: 0
}
